body{
    font: 20px arial, sans-serif
}
.navbar {
    background-color: rgb(59, 239, 212);
}

.quem-somos{
    background-color: rgb(20, 101, 222);
    color: rgb(255, 255, 255);
}

.margin{
    padding-bottom: 10px;
    padding-top: 10px;
}

.parceiros{
    background-color: cornflowerblue;
    color: white
}

.serviços{
    background-color: blueviolet;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white
}